<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org./dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.lsrs.mapper.UserMapper">
	<resultMap type="kr.co.lsrs.domain.UserVO" id="userMap">
		<id property="userid" column="userid"/>
		<result property="userid" column="userid"/>
		<result property="userpw" column="userpw"/>
		<result property="username" column="username"/>
		<result property="phnum" column="phonenumber"/>
		<result property="addr" column="address"/>
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>
	
	<resultMap type="kr.co.lsrs.domain.AuthVO" id="authMap">
		<result property="libraryId" column="libraryid"/>
		<result property="userId" column="userid"/>
		<result property="authId" column="authid"/>
	</resultMap>
	
	<select id="read" resultMap="userMap">
		SELECT
			tuser.userid, userpw, username, phonenumber, address, libraryid, authid
		FROM
			tbl_user tuser LEFT OUTER JOIN tbl_user_auth auth on tuser.userid = auth.userid 
		WHERE
			tuser.userid = #{userid} 
	</select>
</mapper>